services:
  web-dev:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && PORT=3000 npm run dev"
    container_name: shophub-app-dev

